<?xml version='1.0' encoding='utf-8'?>
<widget id="sobime" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" 
      android-versionCode="2"
      ios-CFBundleVersion="1.0.1">
    <name>Sobime</name>
    <description>
        Aplicació cataleg de Sobime.
    </description>
    <author email="gcv@graficman.com" href="http://graficman.com">
        Graficman
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="stay-in-webview" value="false" /> 
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="10000" />
   
    
    <preference name="android-minSdkVersion" value="15" />
    <preference name="android-targetSdkVersion" value="28" />
    <!-- <plugin name="cordova-plugin-battery-status" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1" />
    <plugin name="cordova-plugin-media-capture" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-contacts" source="npm" spec="~2.0.1" /> -->
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-device-motion" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0" />
    <!-- <plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0" /> 
    <plugin name="cordova-plugin-media" source="npm" spec="~2.2.0" /> -->
    <plugin name="cordova-plugin-globalization" source="npm" spec="~1.0.3" />
     
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />
   
        <gap:plugin name="org.apache.cordova.inappbrowser" source="npm"/>
   <!-- <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" /> -->
    
    
    
    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />
    <icon src="res/icon/ios/Icon-40.png"            gap:platform="ios"        width="40" height="40" />
    <icon src="res/icon/ios/Icon-40@2x.png"         gap:platform="ios"        width="80" height="80" />
    <icon src="res/icon/ios/Icon.png"               gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/Icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/Icon-60@2x.png"         gap:platform="ios"        width="120" height="120" />
    <icon src="res/icon/ios/Icon@2x.png"            gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/Icon-72@2x.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="res/icon/ios/Icon-76.png"            gap:platform="ios"        width="76" height="76" />
    <icon src="res/icon/ios/Icon-76@2x.png"         gap:platform="ios"        width="152" height="152" />
    <icon src="res/icon/webos/icon-64.png"          gap:platform="webos" />
    <icon src="res/icon/windows-phone/icon-48.png"  gap:platform="winphone" />
    <icon src="res/icon/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />

    <!-- Define app splash screen for each platform. -->
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="res/screen/blackberry/screen-225.png"              gap:platform="blackberry" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png"      gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="res/screen/ios/screen-ipad-portrait.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/ios/screen-ipad-landscape.png"          gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="res/screen/windows-phone/screen-portrait.png" gap:platform="winphone" />
    
    
    
    <access origin="*"/>
     <allow-navigation href="*" />
    <allow-intent href="http://*" />
    <allow-intent href="https://*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
